$bgr-color: #F6F6F6;
$bgr-color-header: #FFFFFF;
$primary-text-color: #111111;
$secondary-text-color: rgba(17, 17, 17, 0.6);
$primary-accent-color: #EAC645;
$secondary-accent-color: #4F2EE8;
$text-accent-color: #4F2EE8;




$bgr-color-dark: #202024;
$bgr-color-header-dark: #111111;
$primary-text-color-dark: #FFFFFF;
$secondary-text-color-dark: rgba(255, 255, 255, 0.6);

