<section class="best-sellers-conteinar">
  <h2 class="best-sellers-title">
    Best Sellers <span class="best-sellers-title__span">Books</span>
  </h2>
  <div class="best-sellers">
    <!-- <p class="best-sellers__categori">${list_name}</p>
    <ul class="best-sellers__list">
      <li class="best-sellers__item">
        <img class="best-sellers__img" src="${book_image}" alt="" />
        <h3 class="best-sellers__name">${title}</h3>
        <p class="best-sellers-author">${author}</p>
      </li>
    </ul> -->
  </div>
</section>
