.modal-backdrop {
  &.active {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
  }

}

.modal-container {
  position: absolute;
  left: 50%;
  top: 550px;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fff;
  width: 100%;
  max-width: 335px;
  border: solid 2px #111111;
  border-radius: 10px;
  overflow: auto;

  @media screen and (min-width: 768px) {
    max-width: 579px;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

.book-card__close {
  position: absolute;
  right: 7px;
  top: 11px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.book-card__modal {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.book-card__about {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.book-card__img {
  width: 287px;
  height: 408px;
  border-radius: 8px;
  margin-bottom: 14px;

  @media screen and (min-width: 768px) {
    width: 192px;
    height: 281px;
    margin-right: 24px;
  }
}

.book-card__title {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  color: #111111;
  margin-bottom: 4px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.16;
  }
}

.book-card__des {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  color: #111111;
  min-height: 50px;
}

.modal-content {
  padding: 40px 24px;

  @media screen and (min-width: 768px) {
    padding: 40px;
  }
}
.book-add__watched{
  display: block;
    margin: 0 auto;
    width: 100px;
    height: 35px;
    background-color: #4f2ee8;
    border: solid 1px #4f2ee8;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}