.flex-wrap {
  @media (min-width: 768px) and (max-width: 1439px) {
    display: flex;
    gap: 32px;
  }
}

.support {
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;
  padding: 24px 40px 24px 40px;

  &__title-box {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
    margin-top: 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.04em;
    color: #ffffff;
    fill: #ffffff;
  }

  &__list-box {
    overflow: hidden;
    margin-bottom: 40px;
    transition: height 2s ease-in-out;
  }

  &__list {
    list-style: none;
    margin-top: 0;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__icon {
    filter: brightness(0) invert(1);
    height: 28px;
    max-width: 149px;
  }

  &__button-box {
    display: flex;
    justify-content: center;
  }

  &__button-down {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #4f2ee8;
  }

  &__button-up {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #4f2ee8;
    transform: rotate(180deg);
  }
}

.button {
  padding: 6px;
  border: none;
}

@media (min-width: 768px) {
  .support {
    width: 356px;
  }
  .support__list-box {
    height: 292px;
  }
}

@media (max-width: 767px) {
  .support {
    width: 335px;
  }
  .support__list-box {
    height: 188px;
  }
}

// .support__item:not(:last-child) {
//     margin-bottom: 20px;
// }
